# SQLite database
app.db

# Git
.git
.gitignore

# Build output
/bin
/runtime
*.exe
*.out


# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

.env
.env*

# Node / frontend if any
node_modules/
dist/
