# SQLite database
app.db

# Git
.git
.gitignore

# Build output
/bin
/runtime
*.exe
*.out


# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

.env
.env*

# Frontend and local sandbox apps
ui/
express/

# Node / frontend build output
node_modules/
dist/
